<!DOCTYPE html>
<html>
	<head>
        <title>Articles</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="./public/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./public/css/main.css">
	</head>

	<body>
        <div class="row">
                <div class="col-sm-8">
                    <h1 class='h3 mb-3 font-weight-normal text-white'>LATEST POSTS</h1>
                    <% posts.forEach(function(post){ %>
                        <li id="post_<%= post.id %>">
                        <%= post.date %> | <%= post.title %> | <%= post.content %>
                        <form method="post" action="/post/newcom/<%= post.id %>">
                            <div class="form-group">
                            <label>Add a comment</label>
                            <input
                                required
                                name="comment"
                                id="comment"
                                type="textarea"
                                class="form-control"
                            />
                            </div>
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                        </form>
                        <br>
                        </li>
                    <% }); %>
                </div>
                <div class="col-sm-4">
                    <h1 class='h3 mb-3 font-weight-normal text-white'>CREATE A POST</h1>
                </div>
                        
            </div>
    </body>
</html>