<!DOCTYPE html>
<html>
	<head>
        <title>Articles</title>
	</head>

	<body>
        <% posts.forEach(function(post){ %>
            <li id="post_<%= post.id %>">
            <%= post.date %> | <%= post.title %> | <%= post.content %>
            <form method="post" action="/post/newcom/<%= post.id %>">
                <div class="form-group">
                <label>Add a comment</label>
                <input
                    required
                    name="comment"
                    id="comment"
                    type="textarea"
                    class="form-control"
                />
                </div>
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </form>
            <br>
            </li>
          <% }); %>
    </body>
</html>