<!DOCTYPE html>
<html>
	<head>
        <title>Articles</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="./public/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/main.css">
        
	</head>
  
	<body>
        <button type="button" class="btn btn-logout" onclick="window.location.href='/user/logout'">Déconnexion</button>
        <div class="text-center">
            <img class="icon" src="../public/logo/logo.png" alt="" width="120"/>
            <h1 class='h3 mb-3 font-weight-normal text-white'>Derniers articles</h1>
            <a class='h5 mb-3 font-weight-normal text-white' href="/post/new">( Poster un article )</a>
            <% posts.forEach(function(post){ %>
            <hr>
              <div class="text-white articles" id="post_<%= post.id %>">
                    <h3 class='mb-3 font-weight-normal article-title'><%= post.title %> <span class='post-date'> le <%= post.date.toLocaleDateString('fr-FR')  %></span></h3>
                    
                    <p class='article-content'><%= post.content %></p>

                    <h4 class='mb-2 font-weight-normal comments-title'>Commentaires</h4>
                    <% post.comments.forEach(function(comment){ %>
                        <p class='comments'><%= comment.content %></p>
                    <% }); %>
                <form class="comment-form" method="post" action="/post/newcom?id=<%= post.id %>">
                    <div class="form-group comment-group">
                    <label>Commenter</label>
                    <input
                        required
                        name="content"
                        id="content"
                        type="textarea"
                        class="form-control comment-input"
                    />
                    </div>
                    <button type="submit" class="btn btn-danger btn-comment">Envoyer</button>

                </form>
                <br>
              </div>
            <% }); %>
        </div>
            
    </body>
</html>